* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease-in-out;
}

h2 {
  font-size: 5rem;
  color: whitesmoke;
  text-transform: capitalize;
  font-weight: lighter;
}

.color-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-container {
  position: fixed;
  bottom: 10px;
  display: flex;
  gap: 8px;
}

.circle {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}

.inactive {
  background-color: whitesmoke;
  transform: scale(1);
}

.active {
  background-color: rgb(80, 80, 80);
  transform: scale(1.2);
}
