:root {
  --offwhite: #faf9f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 85%;
  width: 380px;
  outline: 1px solid;
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(29, 27, 27);
}

.stories-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  overflow: hidden;
  margin-top: 40px;
}

.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-wrapper {
  position: relative;
}

.avatar {
  width: 80px;
  border-radius: 50%;
  background: linear-gradient(to right, purple, red, rgb(255, 183, 0));
  padding: 3px;
  cursor: pointer;
}

.add-story-icon {
  width: 20px;
  background-color: var(--offwhite);
  border-radius: 50%;
  outline: 3px solid rgb(24, 22, 22);
  position: absolute;
  bottom: 8px;
  right: 0;
  cursor: pointer;
}

.username {
  color: var(--offwhite);
  font-size: 0.75rem;
  font-weight: 300;
}

.story-img {
  width: 50px;
}

.top-container {
  display: none;
}

.story-view-container {
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.progress-bar-container {
  width: 100%;
  display: flex;
  gap: 3px;
  height: 1.8px;
  border-radius: 10px;
  /* margin-top: 10px; */
}

.story-bar-wrapper {
  background-color: rgb(162, 162, 162);
  border-radius: 10px;
}

.story-bar {
  height: 100%;
  /* background-color: var(--offwhite); */
}

.view-story-top-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.story-controls-wrapper {
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.story-controls {
  width: 100%;
}

.story-image {
  width: 100%;
  border-radius: 10px;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar-wrapper img {
  width: 30px;
  border-radius: 50%;
}

.avatar-wrapper span {
  color: var(--offwhite);
  font-size: 0.7rem;
}

.btn-controls img {
  width: 30px;
  color: var(--offwhite);
  transform: rotate(45deg);
}

.hide {
  display: none;
}

.close-btn {
  cursor: pointer;
}

.viewed {
  background: rgb(71, 71, 71);
}
