body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #043704;
}

.container {
  background: rgb(244, 241, 241);
}

.top-wrapper {
  display: flex;
}

.top-wrapper > div,
.side {
  background-color: orange;
  border: 0.5px solid;
}

.top-wrapper > div > p,
.side > p {
  color: white;
}

.bottom-wrapper {
  display: flex;
}

.num-container {
  width: 45px;
  border: 0.5px solid;
  text-align: center;
  cursor: pointer;
  font-size: 0.7rem;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}
