* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  display: flex;
  justify-content: center;
} */

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 80%; */
}

.box,
.box2 {
  width: 200px;
  aspect-ratio: 1;
  background-color: red;
}
