* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  position: absolute;
  font-size: 5rem;
  user-select: none;
  top: 10px;
  color: rgb(30, 27, 27);
  font-family: monospace;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.change-text-color {
  color: rgb(216, 206, 206);
}

.container {
  min-width: 100%;
  height: 100%;
  background-color: rgb(216, 206, 206);
}

.wrapper {
  width: 0;
  height: 100%;
  background-color: rgb(30, 27, 27);
}

.slider {
  width: 5px;
  background-color: rgb(172, 13, 13);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(172, 13, 13);
  position: absolute;
  cursor: col-resize;
}
